global
  log stdout format raw local0 info

defaults
  mode {{proxy_type}}
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s
  log global

frontend loadbalancer
  bind :8080
  use_backend tors

backend tors
  balance roundrobin
  {%- for host in tor_hosts %}
  server tor{{loop.index}} {{host}}:{{tor_port}} check
  {%- endfor %}


